.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title
{
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
}

.loginContent, .forgotContent,
.registerContent
{
  background-color: white;
}

.loginTop, .forgotTop,
.registerTop
{
  display: flex;
  flex-direction: row;
  background-color: #0089ED;
}

.loginTopLeft, .forgotTopLeft,
.registerTopLeft
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 37.5%;
}

.loginTopMid, .forgotTopMid,
.registerTopMid
{
  width: 25%;
  height: 100%;
}

.loginTopRight, .forgotTopRight,
.registerTopRight
{
  width: 37.5%;
}

#loginTopMessage, #forgotTopMessage,
#registerTopMessage
{
  color: white;
  /*background-color: pink;*/
  margin-bottom: 100px;
  padding-left: 50px;
}

.loginGoHome, .forgotGoHome,
.registerGoHome
{
  height: 50px;
  margin-left: 10px;
  /*background-color: orange;*/
}

.loginBoxTop, .forgotBoxTop,
.registerBoxTop
{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-style: solid solid none solid;
  border-width: thin;
  border-color: gray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100%;
  margin-top: 200px;
  padding: 10px 10px 10px 10px;
}

.loginBoxTopContent, .forgotBoxTopContent,
.registerBoxTopContent
{
  display: flex;
  flex-direction: row;
}

.loginBoxTopLeft, .forgotBoxTopLeft,
.registerBoxTopLeft
{
  margin-top: 10px;
  margin-left: 10px;
  width: 75%;
}

.loginBoxTopRight, .forgotBoxTopRight,
.registerBoxTopRight
{
  margin-top: 10px;
  width: 25%;
}

.loginBottom, .forgotBottom,
.registerBottom
{
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
}

.loginBottomLeft, .forgotBottomLeft,
.registerBottomLeft
{
  width: 37.5%;
}

.loginBottomMid, .forgotBottomMid,
.registerBottomMid
{
  width: 25%;
}

.loginBottomRight, .forgotBottomRight,
.registerBottomRight
{
  width: 37.5%;
}
.messageLogo
{
  display: flex;
  flex-direction: row;
}

#registerPassword
{
  width: 100%;
}

.registerField
{
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

#loggedInDiv{
  border-radius: 10px;
  background-color: #4589df;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 10px;
}

#inner-title
{
  display: flex;
  justify-content: center;
}

#loginDiv{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-style: none solid solid solid;
  border-width: thin;
  border-color: gray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.loginForm
{
  width: 100%;
}

.loginField
{
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

#loginButton
{
  width: 100%;
}

.loginInputs
{
  display: flex;
  flex-direction: column;
}

#loginPassword
{
  width: 100%;
}

.loginPassVisibility
{
  position: absolute;
  top: 28%;
  right: 5%;
}

.loginPassVisibility:hover
{
  color: gray;
  cursor: pointer;
}

.loginDivBottom
{
  display: flex;
  justify-content: center;
}

#forgotDiv
{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-style: none solid solid solid;
  border-width: thin;
  border-color: gray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.forgotForm
{
  width: 100%;
}

.forgotInputs
{
  display: flex;
  flex-direction: row;
}

.forgotPassword
{
  text-align: right;
  justify-content: right;
  margin-right: 10px;
  font-size: 10px;
  color: black;
}

.forgotField
{
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

#forgotButton
{
  width: 100%;
}

#forgotEmail
{
  width: 100%;
}

#registerDiv{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-style: none solid solid solid;
  border-width: thin;
  border-color: gray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.registerForm
{
  width: 100%;
}

.registerField
{
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

#registerButton
{
  width: 100%;
}

.registerInputs
{
  display: flex;
  flex-direction: column;
}

.passwordInput
{
  display: flex;
  flex-direction: row;
  width: auto;
  position: relative
}

#registerPassword
{
  width: 100%;
}

.registerPassVisibility
{
  position: absolute;
  top: 31%;
  right: 5%;
}

.registerPassVisibility:hover{
  color: gray;
  cursor: pointer;
}

/*originally used when registering, not needed right now?*/
.firstAndLastName
{
  display: flex;
  flex-direction: column;
}

.registeDivBottom
{
  display: flex;
  justify-content: center;
}

.errMessages
{
  display: flex;
  justify-content: center;
}

.usernameErrMsg
{
  color: black;
  display: none;
}

.usernameErrMsg.show
{
  display: block;
}

.passwordErrorMsg
{
  color: black;
  display: none;
}

.passwordErrorMsg.show
{
  display: block;
}

.emailErrMsg
{
  color: black;
  display: none;
}

.emailErrMsg.show
{
  display: block;
}

.numberErrMsg
{
  color: black;
  display: none;
}

.numberErrMsg.show
{
  display: block;
}

.totalTimeErrMsg{
  color: black;
  display: none;
}

.totalTimeErrMsg.show{
  display: block;
}

.valid
{
  color: green;
  margin-top: 0;
  margin-bottom: 0;
}

.valid:before
{
  position: relative;
  left: -35px;
  content: "\2611";
}

.invalid
{
	color: red;
  margin-top: 0;
  margin-bottom: 0;
}

.invalid:before
{
  position:relative;
  left: -35px;
  content:"\2612";
}

.buttons
{
  border-radius: 10px;
  color: white;
  background: #0089ED;
  border: 0;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.buttons:hover
{
  background: #006dbd;
}

#logoutButton
{
  color: black;
  background-color: white;
}

#logoutButton:hover
{
  background-color: #3766b2;
  color: white;
  font-weight: bold;
}

.left 
{
  background-color: white;
  display: inline-block;
  width: 17%;
  font-size: 18px;
  border-radius: 10px;
  padding: 18px 17px;
  color: #1d19e7;
}

.mid 
{
  background-color: white;
  display: inline-block;
}

.navbar
{
  overflow: hidden;
}

.navLinks
{
  display: inline-block;
  color: #4C4E52;
  text-align: center;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 15px;
  margin-left: 1px;
  margin-right: 1px;
}

/* Change color on hover */
.navBar a:hover:not(.active) 
{
  background-color: #339DFF;
  color: #f2f2f2;
  border-radius: 10px;
  font-weight:bolder;
}

/* Visual to let you know your on insert pageg*/
.navBar a.active
{
  background-color:#339DFF;
  color: #f2f2f2;
  border-radius: 10px;
}

.right 
{
  float: right;
  background-color: white;
  border-radius: 10px;
  margin-left: 1px;
  margin-right: 1px;
}

.navbar-nav .nav-link
{
  color: black;
  border-radius: 10px;
  &:hover
  {
    background-color: #0089ED;
    color: white;
  }
}

.navbar-nav .nav-link-loggedin
{
  color: white;
  &:hover
  {
    background-color: white;
    color: #0089ED;
  }
}

.loggedOutContent
{
  display: flex;
  flex-direction: row;
}

.leftShark
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ExploreTheOceanWithScubaLogger
{
  width: 75%;
}

/*can use same id?*/
/*span id*/
#blackText
{
  color: black;
  font-size: 74px;
  font-family: 'Inter';
  font-weight: 700;
  word-wrap: 'break-word';
}

/*span id*/
#blueText
{
  color: #4589df;
  font-size: 74px;
  font-family: 'Inter';
  font-weight: 700;
  word-wrap: 'break-word';
}

#whiteText
{
  color: white;
  font-size: 74px;
  font-family: 'Inter';
  font-weight: 700;
  word-wrap: 'break-word';
}

.scubbaDescription
{
  width: 75%;
  color: rgb(0, 0, 0, 0.51);
  font-size: 24px;
  font-family: 'Inter';
  font-weight: 600;
  word-wrap: 'break-word';
}

.rightShark
{
  display: flex;
  flex-direction: center;
  align-items: center;
}

.Image2
{
  width: 100%;
  border-radius: 20px;
}

.toolsProvided
{
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.bigText
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin-top: 20px;
}

.scubbaTools
{
  display: flex;
  flex-direction: row;
}


.circle1
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logIconCircle
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 9999px;
  background-color: #0089ED;
  margin: 40px 40px 40px 40px;

}

#logIcon
{
  width: 100px;
  height: 100px;
  filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(347deg) brightness(101%) contrast(101%);
}

.circle2
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eyeIconCircle
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 9999px;
  background-color: #0089ED;
  margin: 40px 40px 40px 40px;
}

#eyeIcon
{
  width: 100px;
  height: 100px;
  filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(347deg) brightness(101%) contrast(101%);
}

.circle3
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shieldIconCircle
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 9999px;
  background-color: #0089ED;
  margin: 40px 40px 40px 40px;
}

#shieldIcon
{
  width: 100px;
  height: 100px;
  filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(347deg) brightness(101%) contrast(101%);
}

.loggedOutBottom
{
  display: flex;
  justify-content: right;
  align-content: center;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-image: url('components/images/ocean_floor.png');
  margin-top: 50px;
}

.loggedOutBottomRegister
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 150px;
}

.loggedOutBottomRegisterText
{
  background-color: white;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
}

.footer
{
  height: 100px;
  background-color: #D9d9d9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
}

.footerContent
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo, .footerLogo
{
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 35px;
}

.homepageContent
{
  background-color: white;
}

.homepageTop
{
  display: flex;
  flex-direction: row;
  background-color: #0089ED;
}

.homepageTopLeft
{
  width: 20%;
}

.homepageTopMid
{
  width: 60%;
  height: 100%;
}

.homepageTopRight
{
  width: 20%;
}

.homepageBoxTop
{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-style: solid solid none solid;
  border-width: thin;
  border-color: gray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100%;/* get rid kinda of displays how want, resizing shows wonkyness*/
  margin-top: 200px;
  padding: 10px 10px 10px 10px;
}

.homepageBoxTopContent
{
  display: flex;
  flex-direction: row;
  width: 100%;

}

.homepageBoxTopLeft
{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20%;
}

.homepageLogs
{
  color: black;
  font-size: 40px;
  font-weight: 640;
  padding: 10px 10px 10px 10px;
}

.homepageBoxTopMid
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
}

.homepageSearchLog
{
  margin-top: 10px;
  width: 95%;
  position: relative;
}

.homepageBoxTopRight
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 10%;
}

.homepageAddLog
{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#goAddButton
{
  border-radius: 20px;
  background-color: black;
  color: white;
}

#goAddButton:hover
{
  background-color: white;
  color: black;
}

.homepageBottom
{
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
}

.homepageBottomLeft
{
  width: 20%;
  /*background-color: green;*/
}

.homepageBottomMid
{
  width: 60%;
  /*background-color: orange;*/
}

.homepageBoxBottom
{
  width: 100%;
}

.homepageBottomRight
{
  width: 20%;
  /*background-color: pink;*/
}

#viewLogUIDiv
{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-style: none solid solid solid;
  border-width: thin;
  border-color: gray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.viewLogTop
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.viewLogSearchLog
{
  display: flex;
  width: 95%;
  position: relative;
}

#searchLogs
{
  border-radius: 10px;
  margin-right: 20px;
  width: 100%;
  padding: 5px 5px 5px 5px;
  position: relative;
}

#searchIcon
{
  position: absolute;
  top: 27%;
  right: 4%;
}

#searchIcon:hover
{
  
  color: #0089ED ;
}

.viewLogAddLog
{
  display: flex;
  justify-content: center;
  width: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logUIContent
{
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  
}

.listOfLogs
{
  width: 30%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px 10px 10px 10px;
}

.selectedLog
{
  width: 70%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 10px 10px 10px;
}

.addLogContent, .editLogContent
{
  background-color: white;
}

.addLogTop, .editLogTop
{
  display: flex;
  flex-direction: row;
  background-color: #0089ED;
}

.addLogTopLeft, .editLogTopLeft
{
  width: 20%;
}

.addLogTopMid, .editLogTopMid
{
  width: 60%;
  height: 100%;
}

.addLogTopRight, .editLogTopRight
{
  width: 20%;
}

.addLogBoxTop, .editLogBoxTop
{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-style: solid solid none solid;
  border-width: thin;
  border-color: gray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100%;/* get rid kinda of displays how want, resizing shows wonkyness*/
  margin-top: 200px;
  padding: 10px 10px 10px 10px;
}

.addLogBoxTopContent, .editLogBoxTopContent
{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.addLogTitle, .editLogTitle
{
  color: black;
  font-size: 40px;
  font-weight: 640;
  width: 100%;
  padding: 10px 10px 10px 10px;

}

.addLogAddLog, .editLogEditLog
{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.addLogBottom, .editLogBottom
{
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
}

.addLogBottomLeft, .editLogBottomLeft
{
  width: 20%;
  /*background-color: green;*/
}

.addLogBottomMid, .editLogBottomMid
{
  width: 60%;
  /*background-color: orange;*/
}

.addLogBoxBottom, .editLogBoxBottom
{
  width: 100%;
}

.addLogBottomRight, .eidtLogBottomRight
{
  width: 20%;
  /*background-color: pink;*/
}

#addLogUIDiv, #editLogUIDiv
{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-style: none solid solid solid;
  border-width: thin;
  border-color: gray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.addForm, .editForm
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.addInputs, .editInputs
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.addField, .editField
{
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.diveDepths
{
  display: flex;
  flex-direction: row;
  margin: 10px 10px 10px 10px;
  width: 100%;
}

.data1, .data2, .data3, .data4
{
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  width: 25%;
}

.locationAndDate
{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 10px 10px 10px;
}

.locationDiv, .dateDiv
{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px 10px 10px 10px;
}

.notes
{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 10px 10px 10px;
}

.notesDiv
{
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  width: 100%;
}

#addLogButton, #editLogButton
{
  width: 50%;
}

.addCancelButton, .editCancelButton
{
  width: 50%;
  border-radius: 10px;
  color: white;
  background: #282c34;
  border: 0;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
}

.addCancelButton:hover{
  background-color:#52565c;
}

.editCancelButton:hover{
  background-color:#52565c;
}

.addLogDivBottom, .editLogDivBottom
{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.divCalcContent
{
  background-color: white;
}

.diveCalcTop
{
  display: flex;
  flex-direction: row;
  background-color: #0089ED;
}

.diveCalcTopLeft
{
  width: 20%;
}

.diveCalcTopMid
{
  width: 60%;
  height: 100%;
}

.diveCalcTopRight
{
  width: 20%;
}

.diveCalcBoxTop
{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-style: solid solid none solid;
  border-width: thin;
  border-color: gray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100%;/* get rid kinda of displays how want, resizing shows wonkyness*/
  margin-top: 200px;
  padding: 10px 10px 10px 10px;
}

.diveCalcBoxTopContent
{
  display: flex;
  flex-direction: row;
  width: 100%;

}

.diveCalcBoxTopLeft
{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.diveCalcTitle
{
  color: black;
  font-size: 40px;
  font-weight: 640;
  padding: 10px 10px 10px 10px;
}

.diveCalcBoxTopMid
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
}

.diveCalcBoxTopRight
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 10%;
}

.diveCalcBottom
{
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
}

.diveCalcBottomLeft
{
  width: 20%;
}

.diveCalcBottomMid
{
  width: 60%;
}

.diveCalcBoxBottom
{
  width: 100%;
}

.diveCalcBottomRight
{
  width: 20%;
}

#diveCalcUIDiv
{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-style: none solid solid solid;
  border-width: thin;
  border-color: gray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.diveCalcForm
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.diveCalcInputs
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.diveCalcField
{
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.lenSufaceInterval
{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 10px 10px 10px;
}

.surfaceIntervalHourDiv, .surfaceIntervalMinsDiv
{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px 10px 10px 10px;
}

.firstDive
{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 10px 10px 10px;
}

.firstDiveDiv
{
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  width: 100%;
}

.firstTotalTime
{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 10px 10px 10px;
}

.firstTotalTimeDiv
{
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  width: 100%;
}

.secondDive
{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 10px 10px 10px;
}

.secondDiveDiv
{
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  width: 100%;
}

#calcButton
{
  width: 50%;
}

.calcCancelButton
{
  width: 50%;
  border-radius: 10px;
  color: white;
  background: #282c34;
  border: 0;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
}

.calcCancelButton:hover{
  background-color:#52565c;
}

.diveCalcDivBottom
{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.activeCell
{
  background-color: lightgrey;
}

#displayLogContent
{
  display: flex;
  flex-direction: column;
}

.displayFirst
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0089ED;
  border-radius: 10px;
  color: white;

}

.displayTitleLocation
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 75%;
  padding: 10px 10px 10px 10px;
}

.displayTitle
{
  display: flex;
  justify-content: center;
  margin-bottom: none;
  font-size: 20px;
  font-weight: bold;
}

.displayLocation
{
  display: flex;
  justify-content: center;
  margin-top: none;
}

.displayEdit
{
  border-radius: 10px;
  width: 25%;
  display: flex;
  justify-content: right;
  padding: 10px 10px 10px 10px;
}

#editButton{
  color: white;
}

#editButton:hover{
  color: black;
}

#deleteButton:hover{
  color: red
}

.displaysecond
{
  display: flex;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
}

.displayThird
{
  display: flex;
  flex-direction: row;
}

.displayDive
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5f3fd;
  width: 25%;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.displayDepth
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5f3fd;
  width: 25%;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.displayTemp
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5f3fd;
  width: 25%;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.displayVisibility
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5f3fd;
  width: 25%;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.displayFourth
{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.displayStartAirPressure
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5f3fd;
  width: 33%;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  
}

.displayEndAirPressure
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5f3fd;
  width: 33%;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.displayDiveComp
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5f3fd;
  width: 33%;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.displayFive
{
  display: flex;
  padding: 10px 10px 10px 10px;
}

.displayNotes
{
  background-color: #e5f3fd;
  width: 100%;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}
